.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
    display: none;
}
